  <section id="search" class="search-wrap">
    <h1>Find A Classroom</h1>
    <p>Join your classmates and make learning collaborative</p>
    <form action="/classes/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="HIST1A, CS10A, Brian Faust, Laura Lee, etc..." required>
      <input type="submit" value="Search">
    </form>
  </section>